---
plugin: google.cloud.gcp_compute
zones: # populate inventory with instances in these regions
  - europe-north1-a
projects:
  - myproject-1111
scopes:
  - https://www.googleapis.com/auth/compute
auth_kind: application
hostnames:
  - name
compose:
  ansible_host: name
  datomic_docker_image: "'europe-north1-docker.pkg.dev/myproject-1111/repo/datomic:latest'"
  gcp_repo_host: "'europe-north1-docker.pkg.dev'"